@media all and (max-width:80em){
    #arrow-right{
        display: none;
    }
    li.onlrec a{
        display: none;
    }
    .menu_mobile{
        display: block;
    }
    .open_menu_mobile{
        display: block;
    }
    .fon_price img{
        animation-play-state: paused;
    }
      .contact-right,.contact-left{
        margin: 20px auto;
        width: 100%;
        padding: 0;
    }
    #map{
        padding: 10px;
        box-shadow: 0 0 10px black;
        width: 260px;
        height: 160px;
    }
    #admins{
        flex-direction: column;
    }
    #admins div:nth-child(2n){
        width: 250px;
        height: 210px;
        padding: 10px;
    }
}
